body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6; /* Subtle background color */
  }

  .admin-bookings {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff; /* White background for the bookings container */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1); /* Neumorphic-style box shadow */
  }

  h2 {
    color: #007bff; /* Primary color for headings */
  }

  .booking-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
  }

  .booking-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2); /* Enhanced neumorphic-style box shadow on hover */
  }

  select {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: fixed; /* Change to fixed for a fixed footer */
    bottom: 0;
    height: 6%;
    width: 100%;
  }



  .organizer-box {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
  }

  .organizer-heading {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
  }

  .booking-item {
    /* Styles for each booking item */
  }
