/* Add this CSS to your global styles or in the component's CSS file */

.navbar {
  background-color: #007bff; /* Primary color */
}

.navbar-brand {
  color: #ffffff; /* White text */
  font-weight: bold;
}



.nav-link {
  color: #ffffff !important; /* White text */
}

.navbar-toggler-icon {
  background-color: #ffffff; /* White background for the toggler icon */
}

.nav-item {
  margin-right: 10px; /* Adjust the spacing between nav items */
}

.btn-danger {
  background-color: #dc3545; /* Danger color for the logout button */
  border-color: #dc3545; /* Border color */
}

.btn-danger:hover {
  background-color: #c82333; /* Darker color on hover */
  border-color: #bd2130;
}
