<app-organizer-navbar></app-organizer-navbar>

<div class="payment-container">

  <form [formGroup]="paymentForm"  class="paymentForm-form">
    <h1>Make 60% Payment</h1>
    <label for="total-amount">Total Amount</label>
    <input type="number" id="total-amount"  formControlName="amount"   value={{amount}}>
    <div style="color:red"  *ngIf="paymentForm.get('amount')!.invalid && paymentForm.get('amount')!.touched">
      Total amount is required.
    </div>
    <label for="amount-paid">Amount to be Paid</label>
    <input type="number" id="amount-paid"   formControlName="amountpaid"  value={{advance}} readonly>

    <!-- <div  style="color:red"   *ngIf="paymentForm.get('amountpaid')!.invalid && paymentForm.get('amountpaid')!.touched">
      Amount is required.
    </div> -->
    <label for="balance-amount">Balance amount</label>
    <input type="number" id="balance-amount"  formControlName="balanceamount" value={{balance}} readonly >

    <!-- <div   style="color:red"   *ngIf="paymentForm.get('balanceamount')!.invalid && paymentForm.get('balanceamount')!.touched">
      Balance Amount is required.
    </div> -->
    <label for="payment-date">Payment Date</label>
    <input type="datetime-local" id="payment-date"  formControlName="paymentDate" required>
    <div   style="color:red"   *ngIf="paymentForm.get('paymentDate')!.invalid && paymentForm.get('paymentDate')!.touched">
      Payment Date is required.
    </div>

    <label for="payment-mode">Mode of Payment:</label>
        <select id="payment-mode" formControlName="modeOfPayement" required>
          <div  style="color:red" *ngIf="paymentForm.get('modeOfPayement')!.invalid && paymentForm.get('modeOfPayement')!.touched">
            Mode of Payment is required</div>
          <option value="CARD">CARD</option>
          <option value="NET_BANKING">NET BANKING</option>
          <option value="UPI">UPI</option>
        </select>


    <button type="submit"    (click)="payAmount()"   class="submit-btn"> Pay 60% Amount</button>

    <button type="button" class="cancel-btn" (click)="myPayment()" >Cancel</button>
        </form>
</div>
