body {
  background-color: #f8f9fa;
  color: #495057;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.container {
  padding: 20px;
}

.dashboard {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

h2 {
  color: #007bff;
}

h3 {
  margin-top: 0;
}

p {
  color: #6c757d;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
